@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  font-family: Verdana;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: darkblue;
  color: white;
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

.grid-container {
  margin: 15px;
  grid-gap: 15px;
  display: grid;
  grid-template-areas: 'filter startlabel startdate endlabel enddate';
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-filter {
  grid-area: filter;
}

.grid-item-startlabel {
  grid-area: startlabel;
}

.grid-item-startdate {
  grid-area: startdate;
}

.grid-item-endlabel {
  grid-area: endlabel;
}

.grid-item-endddate {
  grid-area: enddate;
}

.table-wrapper {
  position: relative;
}

.table-scroll {
  height: calc(100vh - 200px);
  overflow: auto;
}

.container {
  background-color: white;
  padding: 0;
  width: 70%;
  min-height: 100vh;
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-areas: 
      'filter filter filter filter'
      'startlabel startdate endlabel enddate';
  }
}

@media (max-width: 1000px) {
  input[type=date] {
    max-width: 20vw;
  }
  
  .container {
    width: 80%
  }
  
  .header {
    font-size: 1.25em;
  }
}

@media (max-width: 600px) {
  .form-wrapper {
    margin: auto;
  }
  
  .container {
    width: 90%;
  }
}