@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  font-family: Verdana;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 20%;
  margin: 20px;
}

.header {
  background-color: darkblue;
  color: white;
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

.form-wrapper {
  text-align: center;
}

.table-wrapper {
  position: relative;
}

.table-scroll {
  height: calc(100vh - 200px);
  overflow: auto;
}

.container {
  background-color: white;
  padding: 0;
  width: 70%;
  min-height: 100vh;
}

@media (max-width: 1000px) {
  input {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .container {
    width: 80%
  }
  
  .header {
    font-size: 1.25em;
  }
}

@media (max-width: 600px) {
  input {
    width: 80%;
    display: block;
  }
  
  .form-wrapper {
    margin: auto;
  }
  
  .container {
    width: 90%;
  }
}