extends layout

block content
  h1= title
  p Last updated #{latest_update.time_formatted}
  if error
    p Error getting dynamic content.
  else
    if all_openings
      table
        tr
          th Location
          th Date
        each opening in all_openings
          tr
            td #{opening.location}
            td #{opening.date_formatted}
    else
      p There are no openings.