.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 250px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

form {
  max-width: 300px;
}